{% extends 'base.html' %} {% block content %} {% if validlink %}
<h3>Change password</h3>
<!--form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">비밀번호 바꾸기</button>
</form-->



<form action="." method="post">{% csrf_token %}

    <!--{% if form.errors %}
    <p class="errornote">새로 설정 한 비밀번호와 확인이 다릅니다.</p>
    <p> 비밀번호를 8자 이상 영어와, 숫자를 포함하여 설정해 주세요 </p>
    {% endif %}
    -->
    <p>새로운 패스워드를 입력해줘</p>
    
    <fieldset class="aligned">
    
        
        <!--div class="form-row">
            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
        </div>
        <p> 비밀번호를 8자 이상 영어와, 숫자를 포함하여 설정해 주세요 </p>
        <div class="form-row">
            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        </div-->

        {{ form.as_p }}
    
    </fieldset>
    
    <div class="submit-row">
    비번 바꾸기
        <input type="submit" value="Password Change"/>
    </div>
    
    </form>



    {% else %}
<p>
    그 전에있는 비밀번호 사용함 다시 비밀번호 설정해라
</p>
{% endif %} 
{% endblock %}