{% extends "base.html" %}

{% block title %}password_change_form.html{% endblock %}

{% load staticfiles %}


{% block content %}

<div id="content">

    <h1>{{ title }}</h1>

    <form action="." method="post">{% csrf_token %}

    <!--{% if form.errors %}
    <p class="errornote">비밀번호가 그 전과 같거나 새로 설정 한 비밀번호와 확인이 다릅니다.</p>
    <p> 비밀번호를 8자 이상 영어와, 숫자를 포함하여 설정해 주세요 </p>
    {% endif %}
-->
    
    <p>너의 늙은 패스워드와 새로운 패스워드를 입력해줘</p>
    
    <fieldset class="aligned">
    
        <!--div class="form-row">
            {{ form.old_password.label_tag }} {{ form.old_password }}
        </div>

        <p> 비밀번호를 8자 이상 영어와, 숫자를 포함하여 설정해 주세요 </p>
        <div class="form-row">
            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
        </div>
        
        <div class="form-row">
            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        </div-->
        {{ form.as_p }}
    
    </fieldset>
    
    <div class="submit-row">
        <input type="submit" value="Password Change"/>
    </div>
    
    <!--script type="text/javascript">document.getElementById("id_old_password").focus();</script-->
    </form>

</div>
{% endblock %}
