@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css'); 


#content{
	position: relative;
	top: 105px;
	width: 600px;
	margin: 0 auto;
	height: 315px;
	border: silver;
	box-shadow: 6px 7px 30px 2px silver;
	font-family: "NanumSquare", sans-serif;
	background-color: #252525;
}

p{
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: 200;
	line-height: 31px
}

