{% extends "base.html" %}

{% block title %}Project{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/Project_index.css" %}{% endblock %}

{% block content %}

<div id ='content'>
	<form id="searchbox" action="{% url 'Project:search' %}" method="post"> {% csrf_token %}
		<input id = "id_search_word" type="text" maxlength="100" required="True" name="search_word", value = "" OnKeyUp="myFunction()" />
			<input id="submit" type="image" name="find"/>
	</form>

	<div name = 'sametype' id = 'sametype'>
		<input name = 'b' id='b' type="text" maxlength='100' />
	</div>
	
	<div id ='recent_tag'>
		<table>
			<tr>
		{% for URL in tag %}	
				<th class='tag'>{{URL.tag}}</th>
		{% endfor %}
			</tr>
		</table>
	</div>
</div>

<div id='pro_content'>
	{% for Pro in Pro_all %}	
		<div class='pro_all'>
				<a id ='pro_detail'  href="{% url 'Project:type_create' Pro.user.id Pro.name %}" ></a>
		{% for fol in folder %}
			{% if fol %}
				{% if fol.proj.name == Pro.name %}				
				<a id ='pro_detail'  href="{% url 'Project:create_pic' Pro.user.id Pro.name fol.title %}" ></a>
				{% endif %}
			{% endif %}
			
		{% endfor %}

				<p id='pro_name' >{{Pro.name}}</p>
				<p id='pro_publish'>{{Pro.publish_date}}</p>
		
		</div>
	{% endfor %}

	<div class='pro_all'>
		<a id='pro_Cre' href="{% url 'Project:create_pro' %}"></a>
		<img id="pro_logo" src="{% static "photo/+.png" %}">
	</div>
</div>
<script type="text/javascript">

$(function() {
    $("#id_search_word").autocomplete({
      source: "/Project/search/autocomplete",
   
      minLength: 1,
    });
  });

function folder_exist() {
				
			}


function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');



function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function myFunction() {
    document.getElementById("sametype").style.display='block';
    document.getElementById("id_search_word").style.backgroundImage='none';
    document.getElementById("recent_tag").style.display='none';
    var x = document.getElementById("id_search_word").value;
    document.getElementById("b").value = x;
	
	if(document.getElementById("b").value == ""){
	    document.getElementById("sametype").style.display='none';
	    document.getElementById("id_search_word").style.backgroundImage='url(http://127.0.0.1:8000/static/photo/search_back.png)';
	    document.getElementById("recent_tag").style.display='block';
		}
}

function myFunction2() {
    document.getElementById("sametype").style.display='none';
    document.getElementById("recent_tag").style.display='block';
}

</script>
{% endblock %}
